<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION COMPLETED</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<header>
    <h1>Welcome to our Security Project</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registration</a></li>
            <li><a href="/userManager">Manage users</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </nav>
</header>
<main>
    <p>Registration completed!</p>
</main>
<footer>
    <p>&copy; 2024 Matteus, Siyar and George. All rights reserved.</p>
</footer>

</body>
</html>
